---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
spec:
  valuesContent: |-
    ports:
      web:
        redirectTo:
          port: websecure
      websecure:
        middlewares:
          - kube-system-security-headers@kubernetescrd
      minecraft:
        port: 19132
        exposedPort: 19132
        expose:
          default: true
        protocol: UDP
    service:
      single: false
      annotations:
        external-dns.alpha.kubernetes.io/hostname: lab.amolicob.cloud
