---
apiVersion: v1
kind: Service
metadata:
  name: dns-anchor # just exists for external-dns to point to
  annotations:
    external-dns.alpha.kubernetes.io/hostname: amolicob.cloud
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 9999
      targetPort: 9999
