---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: dns
spec:
  entryPoints:
    - dns
  routes:
    - services:
        - name: dns-udp
          port: dns-udp
# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRouteTCP
# metadata:
#   name: dns
# spec:
#   entryPoints:
#     - dns
#   routes:
#     - services:
#         - name: dns-tcp
#           port: dns-tcp
---
# Normal path rewrite
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: admin
  annotations:
    external-dns.alpha.kubernetes.io/target: amolicob.cloud
    external-dns.alpha.kubernetes.io/hostname: blackhole.amolicob.cloud

spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`blackhole.amolicob.cloud`)
      priority: 0
      services:
        - kind: Service
          name: admin
          namespace: adguard
          port: admin
  tls:
    secretName: adguard-admin
