---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/

# Patches specific to all kinokube apps
patches:
  - target:
      kind: ApplicationSet
    patch: |
      - op: replace
        path: /metadata/name
        value: kinokube
      - op: replace
        path: /spec/template/spec/destination/namespace
        value: "kinokube"
      - op: add
        path: /spec/generators/0/matrix/generators/0
        value:
          list:
            elements:
                - service: media-shares
                - service: overseerr
                - service: plex
                - service: prowlarr
                - service: radarr
                - service: sonarr
                - service: transmission
